#content {
  width: 100%;
}

#control {
  position: absolute;
  width: 20%;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #CCCCCC;
}

fieldset {
  background-color: #A2CD5A;
  width: 80%;
  margin: 10px auto 10px auto;
  border: none;
  
}

.legend {
  clear: right;
  width: 100%;
  display: block;
}

canvas {
  background-color: #FFFFFF;
  width: 100%;
}

body {
  background-color: #888888;
  margin: 0;
  padding: 0;
}
